"Site-local" addresses in the fec0::/10 range treated as routable

I noticed that we treat "site-local" addresses in the `fec0::/10` range as routable:

```
> ResolveIP("fec0::").IsRoutable()
true
```

~~According to [RFC 3879 ("Deprecating Site Local Addresses", 2004)](https://tools.ietf.org/html/rfc3879) `fec0::/10` is not meant to be routable: "[…] router implementations SHOULD be configured to prevent routing of this prefix by default".~~ _(Edit: https://github.com/bitcoin/bitcoin/pull/19985#issuecomment-696511911)_

Tor treats [fec0::/10 as an IP range reserved to localhost or local networks](https://github.com/torproject/tor/blob/2225c3c36942e09594333758c7ce7d463d988f0e/src/lib/net/address.c#L289-L292
):

```c
    if (((iph6[0] & 0xfe000000) == 0xfc000000) || /* fc00/7  - RFC4193 */
        ((iph6[0] & 0xffc00000) == 0xfe800000) || /* fe80/10 - RFC4291 */
        ((iph6[0] & 0xffc00000) == 0xfec00000))   /* fec0/10 D- RFC3879 */
      return 1;
```

Which can be compared to Bitcoin Core:

```
> ResolveIP("fc00::").IsRoutable());
false
> ResolveIP("fe80::").IsRoutable());
false
> ResolveIP("fec0::").IsRoutable());
true
```

Addresses this issue in https://github.com/bitcoin/bitcoin/pull/19985 :v:

More context: https://github.com/bitcoin/bitcoin/pull/19985#issuecomment-696511911 + https://github.com/bitcoin/bitcoin/pull/19985#issuecomment-696769866